{% extends 'Layout/base_layout.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>
                                <div class="icon">
                                    <i class="lni lni-user"></i>
                                    {{ user.name }}
                                </div>

                            </h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        User detail
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="row mt-10">
                <div class="col-lg-6">
                    <div class="card-style settings-card-1 mb-30">
                        <div class="title mb-30 d-flex justify-content-between align-items-center">
                            <h6>Details</h6>
                            <button class="border-0 bg-transparent" title="Edit" id="editMyData">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="profile-info">


                            <div class="d-flex align-items-center mb-30">
                                <div class="profile-image">
                                    <img src="{{ asset('assets/images/profile/profile-avatar.svg') }}" alt="">

                                </div>
                                <div class="profile-meta">
                                    <h5 class="text-bold text-dark mb-10">{{ user.username }}</h5>
                                    <p class="text-sm text-gray">Profile: {{ user.profile }}</p>
                                </div>
                            </div>
                            <form method="post" id="formEditMyData">
                                <div class="input-style-1">
                                    <label for="email">Email <small class="text-muted">(for account
                                            recovery)</small></label>
                                    <input type="email" placeholder="admin@example.com"
                                           name="email" id="email" disabled
                                           value="{{ user.email }}">
                                </div>
                                <div class="input-style-1">
                                    <label for="name">FullName </label>
                                    <input type="text"
                                           name="name" id="name" disabled
                                           value="{{ user.name }}">
                                </div>
                                <div class="input-style-1">
                                    <label for="complementaryInfo">Complementary data</label>
                                    <input type="text"
                                           name="complementaryInfo" id="complementaryInfo" disabled
                                           value="{{ user.complementaryInfo }}">
                                </div>
                                <div class="col-12" id="formActions">
                                    <button class="main-btn primary-btn btn-hover" style="display:none;"
                                            type="submit">
                                        Update Profile
                                    </button>
                                    <button class="main-btn dark-btn btn-hover" style="display:none;"
                                            type="submit" id="cancelEdit">
                                        Cancel
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card-style settings-card-2 mb-30">
                        <div class="title mb-30">
                            <h6>Last Logs</h6>
                        </div>

                        <table class="table table-bordered table-hover" id="dataTable">
                            <thead class="bg-dark">
                            <tr>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Ip</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody class="small">
                            {% for log in lastLogs %}
                                <tr>
                                    <td>
                                        <span class="badge {{ log.type.getClassStyle }}">
                                        {{ log.type.value }}
                                            </span>
                                    </td>
                                    <td>{{ log.logDateString }}</td>
                                    <td>{{ log.remoteAddress }}</td>
                                    <td>{{ log.details }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/app/user/edit_user.js') }}"></script>
    <script src="{{ asset('assets/js/app/datatable-common-settings.js') }}"

{% endblock javascripts %}
