<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="shortcut icon"
            href="{{ asset('assets/images/favicon.svg') }}"
            type="image/x-icon"
    />
    <title>{{ app_name }}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/lineicons.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/materialdesignicons.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/css/custom-datatable-styles.css') }}"/>
    {% endblock styles %}
</head>
<body>
<!-- ======== preloader =========== -->
<div id="preloader" style="display: none;">
    <div class="spinner"></div>
</div>
<!-- ======== sidebar-nav start =========== -->
{{ include('Layout/sidebar.html.twig') }}
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">

    {{ include('Layout/header.html.twig') }}

    {% block body %}{% endblock %}
</main>

<!-- ======== confimation-modal =========== -->
<div class="modal fade" id="operationConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="confirmation-header">
                <h5 class="modal-title confirmation-title" id="exampleModalLabel">Confirma la operación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body confirmation-body">

            </div>
            <div id="confirmation-error">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmOperation">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- ======== confirmation-modal end =========== -->

<!-- ======== main-wrapper end =========== -->

<!-- ========= All Javascript files linkup ======== -->
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/app/confirmation.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

{% endblock %}
</body>
</html>

