<aside class="sidebar-nav-wrapper bg-primary-100 text-primary">
    <div class="navbar-logo">
        <a href="{{ path('admin_dashboard') }}">
            <img src="{{ asset('assets/images/logo/logo.svg') }}" alt="logo">
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="nav-item">
                <a href="{{ path('admin_dashboard') }}">
                    <span class="icon">
                      <i class="lni lni-home text-primary"></i>
                    </span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <span class="divider"> <hr></span>

            <li class="nav-item nav-item-has-children">
                <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_3"
                   aria-controls="ddmenu_3" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon">
                      <i class="lni lni-cogs text-dark"></i>
                    </span>
                    <span class="text">Control panel</span>
                </a>
                <ul id="ddmenu_3" class="dropdown-nav collapse ">
                    <li>
                        <a href="{{ path('admin_users') }}"> Users </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_log_reader') }}"> LogReader </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-item-has-children">
                <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_4"
                   aria-controls="ddmenu_4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon">
                      <i class="lni lni-support text-info"></i>
                    </span>
                    <span class="text">PlainAdmin</span>
                </a>
                <ul id="ddmenu_4" class="dropdown-nav collapse ">
                    <li>
                        <a href="https://docs.plainadmin.com/" target="_blank"> Documentation </a>
                    </li>
                    <li>
                        <a href="https://demo.plainadmin.com/" target="_blank"> Demo </a>
                    </li>

                </ul>
            </li>

        </ul>
    </nav>

</aside>