{% extends 'Base.html.twig' %}

{% block title %}UserAccountReactivation{% endblock %}

{% block body %}



    <section class="signin-section">
        <div class="container d-flex align-items-center justify-content-center">

            <div class="row g-0 auth-row">
                <div class="col-lg-4">
                    <div class="auth-cover-wrapper bg-primary-100">
                        <div class="auth-cover">
                            <div class="title text-center">
                                <h1 class="text-primary mb-10">Security issue</h1>
                                <h6 class="mb-15">User reactivation required</h6>
                                <p class="text-medium para-width-500 mx-auto">

                                </p>
                            </div>
                            <div class="cover-image">
                                <img src="{{ asset('assets/images/auth/undraw_security.svg') }}" alt="">
                            </div>
                            <div class="shape-image">
                                <img src="{{ asset('assets/images/auth/shape.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="signin-wrapper">
                        <div class="form-wrapper">
                            <h5>For security reasons you must reactivate your account!!!</h5>
                            <hr>
                            <p>
                                An email was just sent that contains a link
                                that you can use to reset your password.
                            </p>

                            <p class="text-sm mb-25 mt-5">If you don't receive an email please check your spam folder</p>

                            <div class="d-flex justify-content-between flex-wrap pt-40">
                                <a href="{{ path('app_login') }}" class="hover-underline"> Sign in </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </section>


{% endblock %}
