{% extends 'Layout/base_layout.html.twig' %}

{% block body %}


    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">

                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Log reader
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->
            <div class="row">
                <div class="card-style-2">

                    <div class="card-header">
                        <h1 class="text-primary">LogFile:<span class="h5"> {{ logFile }}</span></h1>
                    </div>
                    <div class="card-header m-3 p-3">
                        <form action="" method="get" id="formLogs" class="d-flex">
                            <div class="input-group mb-3  bg-primary-light">

                                <input class="form-control" list="datalistOptions" id="logFile"
                                       name="logFile" autocomplete="off" placeholder="logs availables..."
                                       value="{{ logFile }}"
                                       onclick="this.value('')">
                                <datalist id="datalistOptions">
                                    {% for log in logFiles %}
                                    <option value="{{ log.baseName }}">
                                        {% endfor %}

                                </datalist>

                                <button class="btn btn-primary" type="submit" id="submitBtn">Get log</button>
                            </div>

                        </form>

                    </div>
                    <div class="card-body">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <table class="table table-bordered table-hover" id="dataTable">
                                    <thead class="bg-dark">
                                    <tr>
                                        <th>Level</th>
                                        <th data-type="date" data-format="YYYY/MM/DD">Timestamp</th>
                                        <th>Content</th>
                                    </tr>
                                    </thead>
                                    <tbody class="small">
                                    {% for log in logs %}
                                        {% if 'ERROR' in log.logLevel %}
                                            {% set classRow = 'bg-danger-600 text-white' %}
                                        {% elseif 'CRITICAL' in log.logLevel %}
                                            {% set classRow = 'bg-danger text-white' %}
                                        {% else %}
                                            {% set classRow = '' %}
                                        {% endif %}

                                        <tr class="small">
                                            <td>
                                                <span class="badge {{ classRow }} ">
                                                {{ log.logLevel }}
                                            </span>
                                            </td>
                                            <td>{{ log.timestamp|date('Y-m-d H:i:s') }}</td>

                                            <td class="small">{{ log.logContent }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>





{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/app/datatable-common-settings.js') }}"></script>
    <script>


        const logFile = document.getElementById('logFile');
        const formLogs = document.getElementById('formLogs');

        // delete log input file
        logFile.addEventListener("click", function () {
            logFile.value = "";
        });

        // submit form on change event
        logFile.addEventListener('change', function () {
            formLogs.submit();
        });
    </script>
{% endblock javascripts %}
