{% extends 'Base.html.twig' %}

{% block title %}Create new user{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Create new user</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.role) }}
    {{ form_row(registrationForm.profile) }}



    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(registrationForm) }}
{% endblock %}
