<h1>Hi {{ name }}! </h1>

<p>To activate your account, please visit the following link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>set a secure a password, and enjoy...</p>
<p>
    <strong>Remember!!, your user is {{ username }}</strong>
</p>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
