{% extends 'Base.html.twig' %}

{% block body %}
    <section class="signin-section">
        <div class="container d-flex align-items-center justify-content-center">

            <div class="row g-0 auth-row">
                <div class="col-lg-4">
                    <div class="auth-cover-wrapper bg-primary-100">
                        <div class="auth-cover">
                            <div class="title text-center">
                                <h1 class="text-primary mb-10">Welcome Back</h1>
                                <p class="text-medium">
                                    Sign in to your Existing account to continue
                                </p>
                            </div>
                            <div class="cover-image">
                                <img src="{{ asset('assets/images/auth/signin-image.svg') }}" alt=""/>
                            </div>
                            <div class="shape-image">
                                <img src="{{ asset('assets/images/auth/shape.svg') }}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="signin-wrapper">
                        <div class="form-wrapper">
                            <h6 class="mb-15">Sign In</h6>
                            <p class="text-sm mb-25">
                                Please enter your email and password
                            </p>
                            <form action="#" method="post">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <div class="row">
                                    <div class="col-12">
                                        {% if error %}
                                            <div class="alert-box danger-alert">
                                                <div class="alert">
                                                    <p>
                                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if app.user %}
                                            <div class="mb-3">
                                                You are logged in as {{ app.user.username }}, <a
                                                        href="{{ path('app_logout') }}">Logout</a>
                                            </div>
                                        {% endif %}

                                        <div class="input-style-1">

                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <label for="yourUsername"></label>
                                                <input type="text" name="username" class="form-control"
                                                       id="yourUsername" required autofocus
                                                       placeholder="Your username..."
                                                       value="{{ last_username }}">
                                                <div class="invalid-feedback">Please enter your email.</div>
                                            </div>


                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-12">
                                        <div class="input-style-1">
                                            <div class="input-group has-validation" title="Show password">
                                                <span class="input-group-text" id="show-password">
                                                   <i class="lni lni-lock"></i>
                                                </span>
                                                <label for="password"></label>
                                                <input type="password" name="password" class="form-control"
                                                       id="password" placeholder="Your password..." required>
                                            </div>
                                        </div>
                                        <!-- end col -->

                                        <!-- end col -->
                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                            <div id="caps-lock"></div>
                                            <div class=" text-start text-md-end text-lg-start text-xxl-end mb-30">
                                                <a href="{{ path('app_forgot_password_request') }}"
                                                   class="hover-underline">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-12">
                                            <div  class="button-group d-flex justify-content-center flex-wrap">
                                                <button class="main-btn primary-btn btn-hover w-100 text-center">
                                                    Sign In
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/app/security/password-utils.js') }}"></script>
{% endblock javascripts %}


