#dataTable th {
    text-transform: capitalize;
    color: #084298;
    background-color: #e2e8f0;
}
#dataTable tbody tr td {
    border-bottom: #cccccc 1px dotted;
    font-size: 13px;
}

#dataTable tbody tr:hover {
    background-color: #fcfdfd;
}