<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmailSubject</title>
    <style>

        h1 {
            color: #333;
        }

        p {
            color: #666;
            line-height: 1.6;
        }

        a {
            display: inline-block;
            padding: 12px 24px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
        }


    </style>
</head>
<body style="
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;">
<div class="container" style=" max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
    <header style="
            text-align: center;
            margin-bottom: 20px;">
        <h1>InsidesukiApps</h1>
    </header>
    <div class="emailContent" style="
            border-top: 1px solid #ddd;
            margin: 20px 3px 3px;
            padding: 20px 5px 5px;">
        {% block emailContent %}{% endblock %}
    </div>
</div>
</body>
</html>
