{% extends 'Base.html.twig' %}

{% block body %}

    <section class="section">
        <div class="container-fluid">

            <div class="card-style text-center ">
                <div class="error-box">
                    <img class="mx-auto mb-20" src="{{ asset('/assets/images/error.svg') }}" alt="error img">

                    <div class="alert-box primary-alert pl-100">
                        <div class="left">
                            <h5 class="text-bold">Detail</h5>
                        </div>
                        <div class="alert">
                            <h2 class="alert-heading">Page Not Found</h2>
                            <p class="text-medium">

                                The page you are looking for was moved removed.
                                rename or might never existed.
                            </p>
                        </div>
                    </div>


                    <div class="d-flex align-items-center justify-content-center gap-3">
                        <a href="{{ path('admin_dashboard') }}" class="main-btn primary-btn btn-hover">Go Home</a>
                    </div>
                </div>
            </div>
            <!-- ========== error-cards-wrapper end ========== -->
        </div>
        <!-- end container -->
    </section>



{% endblock %}
