{% extends 'Layout/base_layout.html.twig' %}

{% block body %}

    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">

                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        User
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->
            <div class="row">
                <div class="card-style-2">
                    <div class="card-header m-3 p-3">
                        <div class="icon">
                            <h1 class="text-dark"><i class="display-1 lni lni-users text-primary-emphasis"></i>
                                Users
                            </h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <button type="button" class="main-btn btn-sm primary-btn btn-hover"
                                        data-bs-toggle="modal" data-bs-target="#ModalThree">
                                    <i class="lni lni-plus mr-10"></i>
                                    Add new user
                                </button>
                            <hr>
                                <table class="table table-bordered table-hover" id="dataTable">
                                    <thead class="bg-dark">
                                    <tr>
                                        <th>Profile</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th title="Actions">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="small">
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.profile }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.active }}</td>
                                            <td>
                                                <a href="{{ path('admin_user_detail',{
                                                    'idUser' : user.idUser
                                                }) }}" title="Detail" class="">
                                                    <i class="lni lni-eye"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>


    <div class="modal fade" id="ModalThree" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h2 class="text-bold">New user</h2>
                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>

                <div class="modal-body px-0">
                    <form method="post">
                        <div class="content mb-30">
                            <div class="card-style mb-30">


                                <div class="select-style-1">
                                    <div class="select-position">
                                        <label for="profile">Profile</label>
                                        <select name="profile" id="profile" required>
                                            <option value="">Select profile</option>
                                            {% for profile in profiles %}
                                                <option value="{{ profile.profile }}">{{ profile.profile }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <div class="input-style-1">
                                    <input type="text" name="name" id="name" required placeholder="Full Name">
                                </div>
                                <!-- end input -->
                                <div class="input-style-2">
                                    <input type="text" name="username" id="username" required placeholder="Username">
                                    <span class="icon"> <i class="lni lni-user"></i> </span>
                                </div>
                                <!-- end input -->
                                <div class="input-style-3">
                                    <input type="email" name="email" id="email" placeholder="Email">
                                    <span class="icon"><i class="lni lni-user"></i></span>
                                </div>
                                <!-- end input -->
                            </div>


                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button data-bs-dismiss="modal" type="button" class="main-btn btn-sm danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button type="submit" class="main-btn btn-sm primary-btn btn-hover m-1">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('assets/js/app/datatable-common-settings.js') }}"></script>
{% endblock javascripts %}
