{% extends 'Emails/base_template_email.html.twig' %}
{% block emailContent %}

    <p>To reset your password, please visit the following link</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="button">
        Activate my account
    </a>

    <p>This link will expire
        in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Cheers!</p>
{% endblock emailContent %}
